@charset "utf-8";

#application_div{	
	width:196px;
	height:800px;
	float:left;
	display: inline;
}
.application_content_div{
	width:196px; height:32px; font-size:14px; line-height:32px; text-align:left; margin:5px;
}
.application_user_div{width:196px; height:110px; margin-bottom:10px;}

.application_user_avatar{width:110px; height:110px; float:left;}

.user_avatar_img{width:96px; height:96px; position:absolute; left:7px;top:7px;}

.application_user_about{width:80px; height:110px; padding-top:10px; line-height:25px; font-size:14px; float:right;}

.application_into{width:150px; height:32px;float:left; line-height:32px;}

.application_extend{width:40px; height:32px;float:right;}

#application_list li{
	list-style:none;
}
#application_list{
	font:x-large; 
	font-size:36px;
}
.friend_link_div{
	width:196px;
	height:800px;
	text-align:left;
	margin-top:20px;
	float:left;
}
.friend_link_into{width:196px; height:32px; font-size:14px; line-height:32px; text-align:left; margin:5px;}

#friendlink{
	width:188px; 
	min-height:10px; 
	height:auto;
	font:x-large; 
	font-size:24px;
}