@charset "utf-8";

/**
 * 作用： 清理浮动 
 * 日期： 2009-09-13修改
 * By Rain Man
 */
/* 利用生成内容清理浮动 for IE8(标准模式) 和 非IE浏览器 */
.clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
/* 激发IE中的hasLayout属性 for IE8(Quirks)模式和IE6\7浏览器*/
.clearfix{
    *zoom:1;
}
/**
 * 1、'*' hack在IE6\7和IE8 Quirks模式下能够识别，而IE8标准模式下木能识别
 * 2、zoom 来激发IE中的hasLayout属性 
 * 3、设置了{zoom:xx}的元素在IE8的兼容模式或IE8之前的浏览器中其hasLayout为true，
 *    但在IE8的标准模式下则不会触发hasLayout。
 */ 