@charset "utf-8";

#diary_div{
	margin:10px 10px 10px 10px;
	width:550px;
	min-height:800px;
	height:auto;
	position:relative;
}

#diary_type_div{
	width:150px;
	min-height:800px;
	height:auto;
	display:inherit;
	position:absolute;
	top:70px;
	left:600px;
}

#write_diary_div{
	width:780px; height:680px;margin:10px auto 5px 10px;
}

/*日记*/
.show_diary_div{
	width:550px;
	height:auto;
	min-height:75px;
	border-bottom:1px solid #f3f3f3;
}

.show_diary_top{
	width:550px;
	height:25px;
	line-height:25px;
	float:left;
	background:#f3f3f3;
}

.show_diary_title_div{
	width:400px;
	height:60px;
	line-height:25px;
	float:left;
}

.show_diary_operating_div{
	width:100px;
	height:25px;
	line-height:25px;
	float:right;
}

.show_diary_operating_div dl dd{
	margin-right:5px;
	float:right;
}

.show_diary_info{
	width:550px;
	height:50px;
	line-height:20px;
}

.show_diary_content{
	width:530px;
	height:auto;
	background:#fff5ee;
	float:left;
	font-size:14px;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
}

.show_diary_interactive_div{
	width:530px;
	height:25px;
	text-align:right;
	line-height:25px;
}

.show_diary_interactive_div dl dd{
	margin-right:5px;
	float:right;
}

.diary_comment_div{
	width:520px;
	height:100px;
	float:left;
	border:1px solid #f3f3f3;
	margin-top:10px;
}
.diarycomment{
	width:480px; height:50px; float:right;margin-left:5px;
}
.diary_comment_show_div{
	width:540px;
	height:50px;
	float:left;
	margin-top:2px;
	border:1px solid #f3f3f3;
}