@charset "utf-8";

/*记录*/
#record_div{
	width:760px;
	min-height:800px;
	height:auto;
	margin:10px 10px 10px 10px;
}

#show_record_div{
	width:760px;
	height:68px;;
	margin:10px;
}

.show_record_image{
	width:64px; height:64px; float:left;
}

.show_record_content{
	width:660px;
	min-height:68px;
	height:auto;
	float:right;
}

.show_record_user{
	width:660px; height:20px; line-height:20px;
}

.record_username_span{
	width:300px; height:20px; line-height:20px; float:left;
}

.record_time_span{
	width:100px; height:20px;  line-height:20px; text-align:right; float:right;
}

.record_content_div{
	width:660px; height:40px; line-height:20px;
}
