@charset "utf-8";

/*主页*/
#myfriend_div{
	width:220px;
	height:auto;
	min-height:100px;
	background:#FFF;
	line-height:20px;
	font-size:12px;
	margin:10px auto 10px auto;
}

#getfriend_div{
	width:220px;
	height:auto;
	min-height:450px;
	background:#FFF;
	line-height:20px;
	font-size:12px;
	float:left;
	margin:10px auto 10px auto;
}

#friend_list_div{
	width=200px; float:left;text-align:center;
}

#more_friend_list_div{
	width=200px; float:left;text-align:center;
}


/*好友*/
#friend_div{
	margin:10px 10px 10px 10px;
	width:795px;
	min-height:800px;
	height:auto;
	position:relative;
}

.friend_avatar_div{
	height:70px;
	width:50px;
	margin:2px 2px 2px 2px;
	float:left;
}

.add_friend_ask{
	width:790px;
	min-height:100px;
	height:auto;
	border-bottom:1px solid #999;
}

.add_friend_info{
	width:120px;
	height:80px;
	position:absolute;
}

.add_friend_operate_div{
	width:100px;
	height:70px;
	margin:5px;
	float:right;
	text-align:left;
	line-height:25px;
	position:absolute;
	left:680px;
	top:20px;
}

.show_friend_div{
	width:760px;
	min-height:70px;
	height:auto;
	border-bottom:1px solid #f3f3f3;
	position:relative;
}

.show_friend_info{
	width:200px;
	height:70px;
	position:relative;
}

.friend_info{
	position:absolute;top:10px; left:70px;
	font-size:14px;
	line-height:20px;
}

.show_friend_operate_div{
	width:100px;
	height:70px;
	text-align:left;
	line-height:25px;
	position:absolute;
	left:680px;
	top:5px;
}

.find_friend_div{
	width:540px;
	height:auto;
	min-height:200px;
	font-size:12px;
	line-height:25px;
	margin-left:20px;
	margin-top:20px;
}
