@charset "utf-8";

#account_div{
	margin:10px 10px 10px 10px;
	width:795px;
	min-height:800px;
	height:auto;
	position:relative;
}

/*用户设置*/
.user_basic_info{
	width:778px;
	height:auto; 
	min-height:30px;
	margin:5px 0px 5px 0px;
	float:left;
}

.user_work_info{
	width:778px;
	height:auto; 
	min-height:30px;
	margin:5px 0px 5px 0px;
	float:left;
}

.user_education_info{
	width:778px;
	height:auto; 
	min-height:30px;
	margin:5px 0px 5px 0px;
	float:left;
}

.user_account_security{
	width:778px;
	height:auto; 
	min-height:30px;
	margin:5px 0px 5px 0px;
	float:left;
}


.user_property{
	width:80px; 
	min-height:30px;
	height:auto;
	text-align:center;
	line-height:30px;
	font-size:18px;
	float:left;
	background:#f3f3f3;
}

.property_setting{
	width:695px;
	height:30px;
	text-align:left;
	line-height:30px;
	float:left;
	position:relative;
	left:5px;
}

.property_text{
	width:200px;
	height:30px;
	text-align:left;
	line-height:30px;
	border:1px solid #F00;
}

.property_one_select{
	width:50px;
	height:30px;
	text-align:left;
	line-height:30px;
	font-size:18px;
}
.property_two_select{
	width:80px;
	height:30px;
	text-align:left;
	line-height:30px;
	font-size:18px;
}
.property_three_select{
	width:100px;
	height:30px;
	text-align:left;
	line-height:30px;
	font-size:18px;
}

/*用户详细信息*/
#user_details_div{
	width:760px;
	height:auto;
	min-height:800px;
	text-align:left;
	line-height:20px;
	font-size:14px;
	margin-left:30px;
	margin-top:30px;
}