@charset "utf-8";

*{
	padding:0px;
	margin:0px;
}
html,body{
	overflow:hidden;
	height:100%;
	width:100%;
	text-align:center;
	background:#000;
	
}
a{
	text-decoration:none;
}

/*网页主体*/
#header{
	width:100%;
	height:50px;
	background:#d32c47;
	position:absolute;
	right:17px;
	z-index:999;
}
#webpage{
 width:100%;
 height:100%;
 overflow-y:scroll;
 overflow-x:auto;
 margin:0 auto;
 padding-top:50px;
 background:#f3f3f3;
 z-index:1;
}
#flash_background{
	position:absolute; left:0px; top:0px; width:99%; height:100%; z-index:0;
}
#content{
	width:1000px;
	height:auto;
	min-height:1000px;
	margin:0 auto;
	background:#FFFFFF;
	position:relative;
}
#footer{
	margin:10px auto 0px auto;
	width:1000px;
	height:100px;
	background:#f9f9f9;
	text-align:center;
}

/*网页内容*/
#start_main_div{
	width:794px;
	height:auto;
	min-height:800px;
	text-align:left;
	border:2px solid #f0f1f3;
	float:right;
}

#about{
	margin:10px auto 0px auto;
	width:1000px;
	height:100px;
	background:#f0efef;
	text-align:center;
}

#webname{
	width:400px;
	height:25px;
	line-height:25px;
	font-size:16px;
	text-align:left;
	margin:10px 10px 10px 10px;
}
#webname img{
	float:left;
}

/*通用元素*/
.property_textInput{
	width:190px;
	height:30px;
	border-width:1px;
	border-color:#d32c47;
	border-style:groove;
	line-height:30px;
}

.select_data_two{
	width:40px;
	height:25px;
}
.select_data_four{
	width:60px;
	height:25px;
}

.textInput{
	width:190px;
	height:30px;
	border-width:1px;
	border-color:#d32c47;
	border-style:groove;
	line-height:30px;
}

.publish_submitInput{
	width:90px;
	height:28px;
	background-image:url(../public/image/common/login_reg_btn.png);
	background-position:-90px -25px;
}

.reg_button{
	width:200px;
	height:30px;
	background:#d32c47;
}

.span_button{
	width:50px; 
	height:50px; 
	float:left; 
	text-align:center; 
	line-height:50px;
	border:1px solid #CCC;
}
.right_div_title{
	width:216px;
	height:20px;
	background:#f5f5f5;
	border-top:1px solid;
	border-bottom:1px solid;
}

/*非通用样式表在下面修改*****************************************/

/*导航样式*/
.search_textInput{
	width:200px;
	height:25px;
	line-height:25px;
	font-size:12px;
	border:1px solid #d32c47;
}

/*注册样式*/
.reg_input_text{
	width:200px;
	height:25px;
	line-height:25px;
	border:1px solid #d32c47;
}

.reg_caption_div{
	width:300px;
	height:20px;
	background:#d32c47;
	color:#FFF;
	line-height:20px;
	font-size:14px;
	float:left;
	display:none;
}

/*用户设置样式*/
.user_property{
	width:80px; 
	min-height:30px;
	height:auto;
	text-align:center;
	line-height:30px;
	font-size:18px;
	float:left;
	background:#d32c47;
}
.property_text{
	width:200px;
	height:30px;
	text-align:left;
	line-height:30px;
	border:1px solid #d32c47;
}