<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>显示日记</title>
    <link href="../css_js/webpage.css" rel="stylesheet" type="text/css" />
    <link href="../css_js/share_diary.css" rel="stylesheet" type="text/css" />
    <link href="../css_js/tab_social.css" rel="stylesheet" type="text/css" />
    <script src="../css_js/tab_social.js" type="text/javascript" language="javascript"></script>
    <script src="../css_js/jquery.min.js"></script>

    <link href="css_js/webpage.css" rel="stylesheet" type="text/css" />
    <link href="css_js/navigation.css" rel="stylesheet" type="text/css" />
    <link href="css_js/application.css" rel="stylesheet" type="text/css" />
    <link href="css_js/share_diary.css" rel="stylesheet" type="text/css" />
    <link href="css_js/tab_social.css" rel="stylesheet" type="text/css" /> {*theme_style*}
    <script src="css_js/tab_social.js" type="text/javascript" language="javascript"></script>
    <script src="css_js/jquery.min.js"></script>

</head>

<body>

    <div id="header">
        {*header_div*}
    </div>

    <div id="webpage">
        <div id="content">
            <div id="application_div">
                {*application_div*}
            </div>

            <div id="start_main_div">
                <div id="webname" style=" font-size:x-large">
                    <img width="32" height="32" src="public/image/icon/diary.png" />查看日记</div>
                <hr />
                <br />
                <div id="diary_div">
                    {*diary_show*} {*comment_show*}
                    <!--
				<div class="show_diary_div">
                        	<div class="show_diary_title">
                            	<div style="float:left">
                                	<a href="">{*title_name*}</a>
                                </div>
                                <div class="show_diary_operating_div">
                                <dl>
                                    <dd><a href="">编辑</a></dd>
                                    <dd><a href="">删除</a></dd>
                                </dl>
                                </div>
                            </div>
                            <div></div>
                            <div class="show_diary_info">
								<dl>
                                    <dl>{*add_time*} 分类：{*diary_type*} 日记权限：{*call_purview*}</dl>
                                    <dl>{*content*}</dl>
                                </dl>
                            </div>
							<div class="show_diary_interactive_div" style="float:left;text-align:left;">
                                <dl>
                                    <dd><a href="">转发</a></dd>
                                    <dd><a href="">评论</a></dd>
                                    <dd><a href="">赞</a></dd>
                                </dl>
                            </div>
                            <br />
                            <div class="diary_comment_div">
                            <form action="share_comment_check.php?mode=diary&{*diaryID*}&observerID={*diaryUserID*}" method="post">
                            	<img width="50" height="50" src="{*$userAvatar*}" />
                                <textarea name="comment" id="comment" style="width:480px; height:50px; margin-left:5px;" ></textarea>
                                <div style="float:right">
                                	<input type="submit" class="reg_button" value="评论" />
                                </div>
                            </form>
                            <div>
                            <div class="diary_comment_div">
                            	<div style=" width:50px; height:50px; float:left">
                                	<img width="50" height="50" src="{*$userAvatar*}" />
                                </div>
                                <div style="float:right">
                                	<div style="width:480px; height:25px;">
                                    	{*username*}:{*comment*}
                                    </div>
                                    <div style="width:480px; height:25px;">
                                    	{*type*}&nbsp;&nbsp;&nbsp;&nbsp;{*time*}
                                    </div>
                                </div>
                            <div>
				</div>
                -->
                </div>

                <div id="diary_type_div">
                    <br />
                    <dl>
                        <dt>
                            <h3>我的日记分类：</h3>
                        </dt>
                        <dd>默认分类</dd>
                    </dl>
                </div>

            </div>

        </div>
    </div>
    {*jqscript*} {*script*}
</body>

</html>
