<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>播放音乐</title>
    <link href="../css_js/webpage.css" rel="stylesheet" type="text/css" />
    <link href="../css_js/tab_social.css" rel="stylesheet" type="text/css" />
    <script src="../css_js/tab_social.js" type="text/javascript" language="javascript"></script>

    <link href="css_js/webpage.css" rel="stylesheet" type="text/css" />
    <link href="css_js/navigation.css" rel="stylesheet" type="text/css" />
    <link href="css_js/application.css" rel="stylesheet" type="text/css" />
    <link href="css_js/share_music.css" rel="stylesheet" type="text/css" />
    <link href="css_js/tab_social.css" rel="stylesheet" type="text/css" /> {*theme_style*}
    <script src="css_js/tab_social.js" type="text/javascript" language="javascript"></script>

</head>

<body>

    <div id="header">
        {*header_div*}
    </div>

    <div id="webpage">
        <div id="content">
            <div id="application_div">
                {*application_div*}
            </div>

            <div id="start_main_div">
                <div id="webname" style=" font-size:x-large">
                    <img width="32" height="32" src="public/image/icon/music.png" />音乐播放</div>
                <hr />
                <br />
                <div id="music_view_div">
                    <!--
            	<div style="width:798px; height:30px; text-align:center">
                	<h3>正在播放 {*MusicName*}</h3>
                </div>
                <div class="music_opration" style="width:800px; height:50px; ">
                	<span class="span_button"><a href="image_delete.php?imageID={*imageID*}">删除</a></span>
                </div>
                <div style="width:798px; height:70px; text-align:center; "><EMBED style=”FILTER: gray()” src='.$musicdata[musicPath].' width=798 height=68 type=audio/mpeg autostart=false loop=-1 volume=0 showstatusbar=1></EMBED></div>
                </div>
             	`-->
                    {*music_view*}
                    <br />
                    <br />
                    <!--
                <div class="diary_comment_div">
                <form>
                    <img width="50" height="50" src="{*user_Avatar*}" />
                    <textarea name="comment" id="comment" style="width:480px; height:50px; margin-left:5px;" ></textarea>
                    <div style="float:right">
                        <input type="submit" class="reg_button" value="评论" />
                    </div>
                </form>
                </div>
                -->
                </div>

            </div>

        </div>
    </div>
    {*jqscript*} {*script*}
</body>

</html>
