<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户设置</title>

    <link href="../css_js/webpage.css" rel="stylesheet" type="text/css" />
    <link href="../css_js/tab_social.css" rel="stylesheet" type="text/css" />
    <link href="../css_js/user_acount.css" rel="stylesheet" type="text/css" />
    <script src="../css_js/tab_social.js" type="text/javascript" language="javascript"></script>
    <script src="../css_js/jquery.min.js"></script>

    <link href="css_js/webpage.css" rel="stylesheet" type="text/css" />
    <link href="css_js/navigation.css" rel="stylesheet" type="text/css" />
    <link href="css_js/application.css" rel="stylesheet" type="text/css" />
    <link href="css_js/user_account.css" rel="stylesheet" type="text/css" />
    <link href="css_js/tab_social.css" rel="stylesheet" type="text/css" /> {*theme_style*}
    <script src="css_js/tab_social.js" type="text/javascript" language="javascript"></script>
    <script src="css_js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

</head>

<body>

    <div id="header">
        {*header_div*}
    </div>

    <div id="webpage">
        <div id="content">
            <div id="application_div">
                {*application_div*}
            </div>

            <div id="start_main_div">
                <div id="webname" style=" font-size:x-large">{*user_title*}</div>
                <hr />

                <div id="user_details_div">
                    {*user_details*}
                </div>

            </div>
        </div>
    </div>
    {*jqscript*} {*script*}
</body>

</html>
<!--
<script language="javascript">
$("#bir_year option[value='1998']").attr("selected","true");
$("#bir_month option[value='8']").attr("selected","true");
$("#bir_day option[value='9']").attr({selected:"selected"});
</script>
-->
<!--
<script language="javascript">
$("#bir_day option[value=1]").attr("selected","true");
$("#bir_year option[value='1980']").attr("selected","true");
$("#bir_month option[value='1']").attr("selected","true");
$("#bloodType option[value='O']").attr("selected","true");
$("#status option[value='其他']").attr("selected","true");
</script>
-->
