@charset "utf-8";

#search_div{
	margin:10px 10px 10px 10px;
	width:795px;
	min-height:800px;
	height:auto;
	position:relative;
}

.search_friend_image{
	position:absolute;left:10px;top:10px;
}

.search_friend_name{
	position:absolute;top:10px; left:70px;
}