@charset "utf-8";

#left_main_div{ width:550px; height:auto; min-height:800px; float:left;}

#right_main_div{width:230px; height:auto; min-height:800px; float:right;}

#view_write_div{
	width:550px;
	height:300px;
	margin:10px 10px 10px 10px;
	float:left;
	font-size:13px;
	line-height:20px;
	position:relative;
	background:#FFF;
}

#view_look_div{
	width:550px;
	height:auto;
	min-height:500px;
	font-size:13px;
	line-height:20px;
	margin-left:10px;
	margin-top:10px;
}

.recordcontent{
	width:520px; height:150px;margin:5px auto 5px 5px;
}

.diarycontent{
	width:520px; height:150px;margin:5px auto 5px 5px;
}

/*个人主页*/
#front_cover{
	width:1000px; height:250px; margin:0 auto; position:relative; z-index:889;clear:both;
}

#user_info{
	width:1000px; height:80px; position:absolute; top:130px; left:0px; clear:both;;
}

.user_avatar{width:200px; height:auto; min-height:80px; display:block; float:left; z-index:888;}

.user_content{width:800px; height:80px;float:right;}

.user_name{width:790px; height:40px; margin-left:10px; text-align:left;line-height:40px; color:#FFF; font-size:32px;}

.user_about{width:790px; height:40px; margin-left:10px; text-align:left; line-height:40px; color:#FFF; font-size:16px;}

.user_about span{margin-right:10px;}

#user_mood{width:1000px; height:40px;position:relative;top:210px; left:0px; z-index:885;clear:both;}

#transparent_div{width:1000px; height:40px; z-index:886}

#mood_content{800px; height:40px; line-height:40px; font-size:16px;color:#FFFFFF;font-weight:500; position:absolute; left:210px; top:0px; z-index:887;}